[Unit]
Description=Gunicorn instance to serve calc
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/calculator
Environment="PATH=/home/ubuntu/calculator/venv/bin"
ExecStart=/home/ubuntu/calculator/venv/bin/gunicorn --workers 3 --bind unix:calc.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
